<main class="main">
  <div class="container">
    <div class="screen-divider">

      <div class="song-list-container">
        <div class="songList_container">

          <button class="createsongbtn" (click)="openSongFormModal()">Create New Song</button>
        </div>
        <app-song-list (selectSong)="onSelectSong($event)"></app-song-list>
      </div>
      <!-- <div class="song-player-container">
        <app-song-player [songId]="selectedSongId"></app-song-player>
      </div>  -->
    </div>
  </div>
</main>

<app-song-form-modal [showModal]="showSongFormModal" (songGenerated)="onSongGenerated($event)"
  (closeModal)="closeSongFormModal()">
</app-song-form-modal>

<router-outlet></router-outlet>